    <html>
        <head>
            <title>Flask Form</title>
        </head>
        <body style = "text-align: center;">
            <form action="/process" method="POST">

                
                <fieldset>
                    <legend>Audio preferences</legend>
              
                    <input type="checkbox" name="a1" value="1" /> Audio 1  <br/>
                    <input type="checkbox" name="a2" value="1" /> Audio 2  <br/>
                    <input type="checkbox" name="a3" value="1" /> Audio 3  <br/>
                    <input type="checkbox" name="a4" value="1" /> Audio 4  <br/>
                    <input type="checkbox" name="a5" value="1" /> Audio 5  <br/>
                    <input type="checkbox" name="a6" value="1" /> Audio 6  <br/>
                    <input type="checkbox" name="a7" value="1" /> Audio 7 <br/>
                    <input type="checkbox" name="a8" value="1" /> Audio 8  <br/>
                    <input type="checkbox" name="a9" value="1" /> Audio 9  <br/>
                    
                </fieldset>
                    
                
                <input type="submit" />                
            </form>
    </html>
