<html>  
  <head>
    <title>Flask Shop</title>
  </head>
  <body>
<div class = "demo" style="text-align: center;">
	<script src="https://unpkg.com/wavesurfer.js@2.2.1/dist/wavesurfer.min.js"></script>
	<div id = waveform style="text-align: center;">
		<wave style="display: block; position: relative; -moz-user-select: none; height: 128px; overflow: auto hidden;"><wave style="position: absolute; z-index: 3; left: 0px; top: 0px; bottom: 0px; overflow: hidden; width: 262px; display: block; box-sizing: border-box; border-right: 1px solid rgb(255, 255, 255); pointer-events: none;"><canvas style="position: absolute; left: 0px; top: 0px; bottom: 0px; height: 100%; width: 1110px;" width="1110" height="128"></canvas></wave><canvas style="position: absolute; z-index: 2; left: 0px; top: 0px; bottom: 0px; height: 100%; pointer-events: none; width: 1110px;" width="1110" height="128"></canvas></wave>
	</div>
	<progress id="progress" class="progress progress-striped" value="100" max="100" style="display: none;"></progress>

<script src="/static/scripts.js"></script>
<script src="/static/scripts.js"></script>
  
<div class="controls" style="text-align: center";>
    <button class="btn btn-primary" onclick="wavesurfer.skipBackward()">
      <i class="fa fa-step-backward"></i>
      Backward
    </button>

    <button class="btn btn-primary" onclick="wavesurfer.playPause()">
      <i class="fa fa-play"></i>
      Play
      /
      <i class="fa fa-pause"></i>
      Pause
    </button>

    <button class="btn btn-primary" onclick="wavesurfer.skipForward()">
      <i class="fa fa-step-forward"></i>
      Forward
    </button>

    <button class="btn btn-primary" onclick="wavesurfer.toggleMute()">
      <i class="fa fa-volume-off"></i>
      Toggle Mute
    </button>
  </body>
</html> 
